<p-toast></p-toast>
    <div class="mb-2 flex justify-content-between">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addCategory()"></button>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </div>

    <p-table
        #dt1
        dataKey="id"
        [value]="categories" [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['name']"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filter($event,dt1)" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" i18n>Name<p-sortIcon field="name"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr>
            <td><a routerLink="{{ category.id }}">{{ category.name }}</a></td>
            <td class="flex justify-content-end">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCategory(category)"></button>
            </td>
        </tr>
    </ng-template>
    </p-table>

