<p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '4px' }"></p-progressBar>
<div class="surface-card p-4 shadow-2 border-round">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="border-2 border surface-border  p-4 grid">

            <div class="field col">
              <label class="lock text-900 font-medium mb-2" for="firstName">{{ 'USERS.PROFILE.NAME' | translate }}</label>
              <input type="text" pInputText id="firstName" formControlName="firstName" class="w-full"/>
              <small
                class="p-error block"
                *ngIf="
                  profileForm.controls['firstName'].invalid &&
                  profileForm.controls['firstName'].dirty
                "
                >{{ 'USERS.PROFILE.REQUIRED' | translate }}</small
              >
            </div>

            <div class="field col">
                <label class="lock text-900 font-medium mb-2" for="lastName">{{ 'USERS.PROFILE.LAST_NAME' | translate }}</label>
                <input type="text" pInputText id="lastName" formControlName="lastName" class="w-full"/>
                <small
                  class="p-error block"
                  *ngIf="
                    profileForm.controls['lastName'].invalid &&
                    profileForm.controls['lastName'].dirty
                  "
                  >{{ 'USERS.PROFILE.REQUIRED' | translate }}</small
                >
            </div>

            <div class="field col">
                <label class="lock text-900 font-medium mb-2" for="email">{{ 'USERS.PROFILE.EMAIL' | translate }}</label>
                <input type="text" pInputText id="email" formControlName="email" class="w-full"/>
                <small
                  class="p-error block"
                  *ngIf="
                    profileForm.controls['email'].invalid &&
                    profileForm.controls['email'].dirty
                  "
                  >{{ 'USERS.PROFILE.REQUIRED' | translate }}</small
                >
            </div>

            <div class="field col">
                <label class="lock text-900 font-medium mb-2" for="phonenumber">{{ 'USERS.PROFILE.PHONE' | translate }}</label>
                <input type="text" pInputText id="phonenumber" formControlName="phoneNumber" class="w-full"/>
                <small
                  class="p-error block"
                  *ngIf="
                    profileForm.controls['phoneNumber'].invalid &&
                    profileForm.controls['phoneNumber'].dirty
                  "
                  >{{ 'USERS.PROFILE.REQUIRED' | translate }}</small
                >
            </div>

          </div>
            <div class="flex justify-content-end gap-2 pt-4">
              <p-button label="{{ 'USERS.PROFILE.SAVE' | translate }}" icon="pi pi-check" type="submit"></p-button>
            </div>
    </form>
</div>
<p-toast></p-toast>