<p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '4px' }"></p-progressBar>
<div class="surface-card p-4 shadow-2 border-round">
    <div *ngIf="!loading" class="text-3xl font-medium text-900 mb-3">{{ currentProduct.id ? currentProduct.name:  title }}</div>
    <div class="font-medium text-500 mb-3"><a routerLink="{{ listUrl }}">{{ 'PRODUCTS.EDIT.BACK' | translate }}</a></div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="border-2 border surface-border p-4 grid">
          <div class="field col">
            <label class="block text-900 font-medium mb-2" for="categoryId">{{ 'PRODUCTS.EDIT.FORM.CATEGORY' | translate}}</label>
            
            <p-dropdown class="md:w-20rem w-full" containerStyleClass="w-full" 
              id="categoryId"
              formControlName="category"
              [options]="categories" 
              optionLabel="name"
              placeholder="{{ 'PRODUCTS.EDIT.FORM.CATEGORY' | translate }}"
              selectId="id"
            ></p-dropdown>
            <small
              class="p-error block"
              *ngIf="
                productForm.controls['price'].invalid &&
                productForm.controls['price'].dirty
              "
              >{{ 'PRODUCTS.EDIT.FORM.REQUIRED' | translate}}</small
            >
          </div>
            <div class="field col">
              <label class="block text-900 font-medium mb-2" for="title" >Name</label>
              <input type="text" pInputText id="name" formControlName="name" class="w-full"/>
              <small
                class="p-error block"
                *ngIf="
                  productForm.controls['name'].invalid &&
                  productForm.controls['name'].dirty
                "
                >{{ 'PRODUCTS.EDIT.FORM.REQUIRED' | translate}}</small
              >
            </div>
            <div class="field col">
              <label class="lock text-900 font-medium mb-2" for="price" >Price</label>
              <p-inputNumber
                id="price"
                formControlName="price"
                class="block"
              ></p-inputNumber>
              <small
                class="p-error block"
                *ngIf="
                  productForm.controls['price'].invalid &&
                  productForm.controls['price'].dirty
                "
                >{{ 'PRODUCTS.EDIT.FORM.REQUIRED' | translate}}</small
              >
            </div>
            <div class="field col">
              <label class="block text-900 font-medium mb-2" for="price">Tax</label>
              <p-inputNumber
                id="tax"
                formControlName="tax"
                class="lock text-900 font-medium mb-2"
              ></p-inputNumber>
              <small
                class="p-error block"
                *ngIf="
                  productForm.controls['price'].invalid &&
                  productForm.controls['price'].dirty
                "
                >{{ 'PRODUCTS.EDIT.FORM.REQUIRED' | translate}}</small
              >
              
            </div>
          </div>
          <div class="flex justify-content-between pt-4">
            <p-button label="{{ 'PRODUCTS.EDIT.FORM.DELETE'| translate }}" icon="pi pi-trash" (click)="deleteProduct()" styleClass="p-button-danger"></p-button>
            <div class="flex justify-content-end gap-2">
              <p-button type="submit" label="{{ 'PRODUCTS.EDIT.FORM.SAVE'| translate }}" icon="pi pi-check"></p-button>
              <p-button label="{{ 'PRODUCTS.EDIT.FORM.CANCEL'| translate }}" icon="pi pi-times" (click)="onCancel()" styleClass="p-button-secondary align-self-end "></p-button>
            </div>
          </div>
    </form>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>

