/* You can add global styles to this file, and also import other style files */
//@import "primeng/resources/themes/soho-light/theme.css";
//@import "primeng/resources/primeng.css";
body {
    font-family: var(--font-family);
    margin: 0;
}
:root {
    --blue-600: #274472;
    --blue-500: #41729F;
    --blue-400: #5885AF;
    --blue-300: #C3E0E5;
}

:root {
    .p-panel-header {
        color: #fff;
        background-color: var(--blue-500);
    }
}