<p-sidebar [(visible)]="sidebarVisible">
    <p-menu [model]="items"></p-menu>
</p-sidebar>

<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button (click)="sidebarVisible = true" icon="{{icon}}" styleClass="p-button-text"></p-button>
    </div>
    <div class="flex-grow-1 font-bold text-xl" i18n>Rest App</div>
    <div class="p-toolbar-group-end">
        <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
        <p-avatar *ngIf="isLogged(); else notlogged" size="large" shape="circle" (click)="menu.toggle($event)" >
            <span class="text-base font-bold">{{ initials() }}</span>
        </p-avatar>
        <ng-template #notlogged>
            <p-avatar icon="pi pi-user" size="large" shape="circle" />
        </ng-template>
    </div>
</p-toolbar>
